// Rename this to config.env
NODE_ENV=development
PORT=3000

DATABASE_PASSWORD=ATLAS_USER_PASSWORD_GOES_HERE
DATABASE=ATLAS_CONNECTION_STRING_GOES_HERE

JWT_SECRET=PUT_YOUR_STRONG_JWT_STRING_HERE
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

EMAIL_SENDER_NAME =
EMAIL_SENDER_EMAIL_ADDRESS =
EMAIL_USERNAME =
EMAIL_PASSWORD =
EMAIL_SMTP =
EMAIL_PORT =
